<nav class="navbar navbar-inverse">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="{{ path('_index') }}">Fluffy Roll</a>
            <ul class="nav navbar-nav navbar-right">
                <li class="nav-item{% if app.request.attributes.get('_route') == '_new' %} active{% endif %}">
                    <a class="nav-link" href="{{ path('_new') }}">
                        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                    </a>
                </li>
                {% if app.request.attributes.get('_route') == '_show' %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('_edit', {id: app.request.attributes.get('id')}) }}">
                            <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                        </a>
                    </li>
                {% elseif app.request.attributes.get('_route') == '_edit' %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('_show', {id: app.request.attributes.get('id')}) }}">
                            <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
                        </a>
                    </li>
                {% else %}
                    <li class="nav-item disabled">
                        <a class="nav-link">
                            <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                        </a>
                    </li>

                {% endif %}
                <li class="nav-item{% if app.request.attributes.get('_route') == '_list' %} active{% endif %}">
                    <a class="nav-link" href="{{ path('_list') }}">
                        <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>
