{% extends 'base.html.twig' %}

{% block page_header %}
    <h1>Teddies list</h1>
{% endblock %}

{% block page_content %}
    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Image</th>
                <th>Filename</th>
                <th>Updated</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for teddy in teddies %}
            <tr>
                <td><a href="{{ path('_show', { 'id': teddy.id }) }}">{{ teddy.id }}</a></td>
                <td>{{ teddy.name }}</td>
                <td><img src="{{ asset('upload/images/'~teddy.image|e) }}"/></td>
                <td>{{ teddy.image }}</td>
                <td>{% if teddy.updated %}{{ teddy.updated|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('_show', { 'id': teddy.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('_edit', { 'id': teddy.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('_new') }}">Create a new teddy</a>
        </li>
    </ul>
{% endblock %}
