{% extends 'base.html.twig' %}

{% block content %}
    <h1>{{ teddy.name }}</h1>

    <div class="row container-show">
        <div class="col-xs-12">
            <table class="table table-striped table-responsive table-condensed">
                <tbody>
                <tr>
                    <th>Id</th>
                    <td>{{ teddy.id }}</td>
                </tr>
                <tr>
                    <th>Filename</th>
                    <td>{{ teddy.image }}</td>
                </tr>
                <tr>
                    <th>Updated</th>
                    <td>{% if teddy.updated %}{{ teddy.updated|date('Y-m-d H:i:s') }}{% endif %}</td>
                </tr>
                </tbody>
            </table>

            <img src="{{ asset('upload/images/'~teddy.image|e) | imagine_filter('teddy_roll') }}"
                 class="img-rounded"/>
        </div>
    </div>
{% endblock %}
